<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Oh no!</title>

  <link rel="shortcut icon" href="/../images/favicon.ico">
  <link rel='stylesheet prefetch' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css'>
  <link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Alegreya'>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>

<body>

  <div class="container-fluid bg-img-error h-100">
    <div class="row h-100">
      <div class="col-12 col-lg-6 offset-lg-6 p-0 mt-auto d-flex flex-column">
        <div class="card error-box text-left px-2 m-4">
          <p class="mb-0 ">I'm sorry, we dont seem to have what you're looking for. </p><p class="text-right mt-0 px-5 pt-0">-Error 404</p>
        </div>
      </div>
    </div>
  </div>

</body>

<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js'></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.js'></script>

</html>
